.navbar {
	background-color: #fff!important;
}

.navbar a {
    font-family: 'Open Sans', serif;
	font-size: 0.75em;
	color: #333;
	font-weight: 600;
	line-height: 2.5px;
}

.navbar a:hover, .navbar a:active {
	background-color: rgba(0,0,0,0.6);
}